<p>Booking ID: <%= @booking.id %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Rules:</strong>
  <%= @room.rules %>
</p>

<p>
  <strong>Amenities:</strong>
  <% @room.amenities.each do |amenity| %><br/>
  <%= amenity.name %>
  <% end %>
</p>


<p>
  <strong>City:</strong>
  <%= @room.city.name %>
</p>

<p>
  <strong>Room Type:</strong>
  <%= @room.room_type.name %>
</p>

<%= link_to "Cancel Booking", booking_path(@booking.id), data: {method: :delete, confirm: "Are you sure you want to delete?"} %> |
<%= link_to 'Back', bookings_path %>
<br/><br/>