<h3>Listing Users</h3>

<% if current_user.is_admin? %>
	<%= link_to "Export to Excel", users_path(format: "xls"), class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #009688" %>
<% end %>
<br/><br/>

<% if @users.empty? %>
	<p>No user found.</p>
<% else %>

	<table border = "1">
		<thead>
			<tr>
				<th>#</th>
				<th>User ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Mobile</th>
				<th>Show</th>
			</tr>
		</thead>

		<tbody>
			<% @users.each_with_index do |user,index|%>
			<tr>
				<td> <%= index + 1 %></td>
				<td> <%= user.id %> </td>
				<td> <%= user.first_name %></td>
				<td> <%= user.last_name %> </td>
				<td> <%= user.email %> </td>
				<td> <%= user.mobile_number %> </td>
				<td> <%= link_to "Show", user_path(user.id) %> </td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
<h2><%= link_to "Add user", new_user_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %></h2>