<h3>Listing User Types</h3>

<% if @user_types.empty? %>
	<p>No user types found.</p>
<% else %>

	<table border = "1">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Description</th>
				<th>Show</th>
			</tr>
		</thead>

		<tbody>
			<% @user_types.each_with_index do |user_type,index|%>
			<tr>
				<td> <%= index + 1 %></td>
				<td> <%= user_type.name %></td>
				<td> <%= user_type.description %> </td>
				<td> <%= link_to "Show", user_type_path(user_type.id) %> </td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
<h2><%= link_to "Add user type", new_user_type_path %></h2>