<p>User Type <%= @user_type.id %></p>

<p>
  <strong>Name:</strong>
  <%= @user_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_type.description %>
</p>

<%= link_to 'Edit', edit_user_type_path(@user_type.id) %> |
<%= link_to "Delete", user_types_path(@user_type.id), data: {method: :delete, confirm: "Are you sure you want to delete?"} %> |
<%= link_to 'Back', user_types_path %>
