<%= form_for @room, html: { multipart: true } do |f| %>
<% if @room.errors.any? %>
	<h4>These errors prohitibted the form from being saved: </h4>
	<ul style = "color:red;">
		<% @room.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<%= f.text_field :name %>
		<label>Name</label>
	</div>
	<br/>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<%= f.text_area :description %>
		<label>Description</label>
	</div>
	<br/>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"><br/><br/>
		<%= f.collection_select :room_type_id, RoomType.all, :id, :name, prompt: "Select Room Type" %>
		<label>Room Type</label>
	</div>
	<br/>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"><br/><br/>
		<%= f.collection_select :city_id, City.all, :id, :name, prompt: "Select City" %>
		<label>City</label>
	</div>
	<br/>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<%= f.text_area :address %>
		<label>Address</label>
	</div>
	<br/>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<%= f.number_field :latitude, :step => 'any' %>
		<label>Latitude</label>
	</div>
	<br/>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<%= f.number_field :longitude, :step => 'any' %>
		<label>Longitude</label>
	</div>
	<br/>

	<div class="mdl-textfield mdl-js-textfield">
		<%= f.number_field :price %>
		<label>Price</label>
	</div>
	<br/>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<%= f.number_field :minimum_days %>
		<label>Minimum Days</label>
	</div>
	<br/>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<%= f.collection_check_boxes :amenity_ids, Amenity.all, :id, :name do |b| %><br/><br/>
			<%= b.check_box %>
			<%= b.label %>
		<% end %>
	</div>
		<label>Amenities</label>
	<br/>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<%= f.text_area :rules %>
		<label>House Rules</label>
	</div>
	<br/>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<br/><br/><%= f.file_field :image %>
		<label>Upload Image</label>
	</div>
	<br/><br/>

	<%= f.submit 'Submit', class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
<% end %>
<br/><br/>