<% if @room.errors.any? %>
<div class = "alert alert-danger">
  <h4>These errors prohitibted the form from being saved: </h4>
  <ul style = "color:red;">
    <% @room.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<p>Room <%= @room.id %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Rules:</strong>
  <%= @room.rules %>
</p>

<p>
  <strong>Amenities:</strong>
  <% @room.amenities.each do |amenity| %><br/>
  <%= amenity.name %>
  <% end %>
</p>


<p>
  <strong>City:</strong>
  <%= @room.city.name %>
</p>

<p>
  <strong>Room Type:</strong>
  <%= @room.room_type.name %>
</p>

<% if @room.user_id == current_user.id || current_user.role == "admin" %>
<%= link_to 'Bookings of this room', bookings_my_room_bookings_path(:room_id => @room.id) %> |
<%= link_to 'Edit', edit_room_path(@room.id) %> |
<%= link_to "Delete", room_path(@room.id), data: {method: :delete, confirm: "Are you sure you want to delete?"} %> |
<% end %>
<%= link_to 'Back', rooms_path %>
<br/><br/>

<% if @room.user_id != current_user.id %>
  <h3> Book </h3>

    <%= form_for @booking do |f| %>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <%= f.hidden_field :room_id, value: @room.id %>

    <label>Start Date</label><br>
    <%= f.date_select :start_date, order:[:day, :month, :year] %><br>

    <label>End Date</label><br>
    <%= f.date_select :end_date, order:[:day, :month, :year] %><br>

    <%= f.submit %>

  <% end %>
<% end %>