<% if @room.errors.any? %>
<div class = "alert alert-danger">
  <h4>These errors prohitibted the form from being saved: </h4>
  <ul style = "color:red;">
    <% @room.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<p>Room <%= @room.id %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @room.image.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Rules:</strong>
  <%= @room.rules %>
</p>

<p>
  <strong>Amenities:</strong>
  <% @room.amenities.each do |amenity| %><br/>
  <%= amenity.name %>
  <% end %>
</p>

<p>
  <strong>Minimum Days: </strong>
  <%= @room.minimum_days %>
</p>

<p>
  <strong>City:</strong>
  <%= @room.city.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @room.address %>
</p>

<p>
  <strong>Room Type:</strong>
  <%= @room.room_type.name %>
</p>

<% if current_user.id == @room.user.id || current_user.is_admin? %>
  <p>
    <strong>View Count:</strong>
    <%= @room.view_count %>
  </p>
<% end %>

<% if @room.user_id == current_user.id || current_user.role == "admin" %>
<%= link_to 'Bookings of this room', bookings_my_room_bookings_path(:room_id => @room.id), class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %> 
<%= link_to 'Edit', edit_room_path(@room.id), class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %> 
<%= link_to "Delete", room_path(@room.id), data: {method: :delete, confirm: "Are you sure you want to delete?"}, class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %> 
<% end %>
<%= link_to 'Back', rooms_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
<br/><br/>

<% if @room.user_id != current_user.id %>
  <h3> Book </h3>

    <%= form_for @booking do |f| %>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <%= f.hidden_field :room_id, value: @room.id %>

    <label>Start Date</label><br>
    <%= f.date_select :start_date, order:[:day, :month, :year] %><br>

    <label>End Date</label><br>
    <%= f.date_select :end_date, order:[:day, :month, :year] %><br>

    <br/>
    <%= f.submit 'Book', class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored"  %>

  <% end %>
<% end %>

<!--bug in review: user can review more than once-->
<% if @room.user_id != current_user.id #|| @new_review != current_user.id %>

      <h3> Review this room. </h3>
      <%= form_for @review do |f| %>

        <%= f.hidden_field :user_id, value: current_user.id %>

        <%= f.hidden_field :room_id, value: @room.id %>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= f.text_area :body %>
          <label>Review</label>
        </div>
        <br/>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= f.number_field :rating %>
          <label>Rating (out of 5)</label>
        </div>
        <br/>

        <%= f.submit 'Submit', class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored"  %>

      <% end %>
<% end %>

<!-- Liting Reviews -->
<h3> Reviews </h3>

<% @reviews.each do |review| %>
  <% if !review.present? %>
    <p>No reviews found.</p>
  <% end %>
  <% break %>
<% end %>

<% if !@reviews.empty? %>

  <table border = "1">
    <thead>
      <tr>
        <th>#</th>
        <th>User Name</th>
        <th>Review</th>
        <th>Rating</th>
        <th>Edit</th> 
      </tr>
    </thead>

    <tbody>
      <% @reviews.each_with_index do |review,index|%>
        <% if review.room_id == @room.id  %>
          <tr>
            <td> <%= index + 1 %></td>
            <td> <%= review.user.first_name %></td>
            <td> <%= review.body %> </td>
            <td> <%= review.rating %></td>
            <% if @review.user_id == current_user.id %>
              <td> <%= link_to "Edit", edit_review_path(review.id) %> </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>