<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.red-blue.min.css">
	<script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>

</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="/">Airbnb</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<% if user_signed_in? %>
						<% if current_user.is_admin? %>
							<li <% if controller.controller_name == "users" %>
					                class="active"
					            <% end %>><%= link_to "User", users_path %></li>
							<li <% if controller.controller_name == "amenities" %>
					                class="active"
					            <% end %>><%= link_to "Amenity", amenities_path %></li>
							<li<% if controller.controller_name == "cities" %>
					                class="active"
					            <% end %>><%= link_to "City", cities_path %></li>
							<li <% if controller.controller_name == "room_types" %>
					                class="active"
					            <% end %>><%= link_to "Room Type", room_types_path %></li> 
						<% end %>
							<li <% if controller.controller_name == "bookings" %>
					                class="active"
					            <% end %>><%= link_to "My Bookings", bookings_path %></li> 
							<li <% if current_page?(rooms_path) %>
					                class="active"
					            <% end %>><%= link_to "All Room", rooms_path %></li>
							<li <% if current_page?(rooms_my_rooms_path) %>
					                class="active"
					            <% end %>><%= link_to "My Rooms", rooms_my_rooms_path %></li>
							<li <% if current_page?(edit_user_registration_path) %>
					                class="active"
					            <% end %>><%= link_to "Edit Account", edit_user_registration_path %></li>
					<% end %>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if !user_signed_in? %>
						<li <% if current_page?(new_user_session_path) %>
				            class="active"
			            <% end %>><%= link_to "Login", new_user_session_path %></li>
						<li <% if current_page?(new_user_registration_path) %>
				            class="active"
			            <% end %>><%= link_to "Sign Up", new_user_registration_path %></li>			    
					<% else %>
						<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<% if user_signed_in? %>
			Current User: <%= current_user.id %> |
			Hello <%= current_user.first_name %>
		<% end %>

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		
		<%= yield %>
	</div>



</body>
</html>
